body {
    margin: 0;
    background-color: rgb(59, 59, 59);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-items: center
}

.leftnav {
    display: flex;
}

.centnav {
    display: flex;
}

.rightnav {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

li a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-size: 1.2em;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

@media (max-width: 455px) {
    li a {
        font-size: 0.9em
    }
}

li a:hover {
    color: #8FFF00;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-image: url(/images/double-bubble-dark.webp);
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.herocont {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.speal {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: black 3px 3px 2px;
}

.calltoaction {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 150px;
    height: 35px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: #8FFF00;
    border: none;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    font-size: 1.2em;
}

button:hover {
    background-color: rgb(156, 255, 172);
    cursor: pointer;
}

button a {
    color: black;
}

.main1 {
    display: flex;
    flex-direction: column;
}

.boxcont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(14, 14, 14);
    height: 250px;
    margin: 20px;
    justify-content: space-around;
    justify-items: center;
    border-radius: 10px;
    background-attachment: fixed;
    border: solid #8FFF00 2px;
}

@media (max-width: 755px) {
    .box {
        width: 350px;
        padding: 20px;
        font-size: 1.2em;
    }
}

.boxicon {
    display: flex;
    justify-content: center;
    z-index: 2;
}

.boxspeal {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
    font-family: "Nunito", sans-serif;
    z-index: 2;
}

.cont2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    margin: 20px;
    display: flex;
    width: 650px;
    background-color: rgb(14, 14, 14);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    background-attachment: fixed;
    border: solid #8FFF00 2px;
}

@media (max-width: 755px) {
    .profile {
        flex-direction: column-reverse;
        width: 350px;
    }
}


.profilephoto {
    border-radius: 10px;
}

@media (max-width: 755px) {
    .profilephoto {
        margin-top: 15px;
    }
}


.imagecont {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-image: url(double-bubble-dark.webp);
    background-attachment: fixed;
}

@media (max-width: 755px) {
    .imagecont {
        margin-top: 20px;
    }
}

.me {
    margin-left: 20px;
    font-family: "Nunito", sans-serif;
    color: white;
}

.name {
    font-size: 1.4em;
}

.age {
    font-size: 1.4em;
}

.disc {
    margin-top: 20px;
}

span {
    color: #8FFF00;
    margin-right: 5px;
    font-weight: 900;
}

.test {
    height: 2000px;
}

.blur {
    display: flex;
    align-self: center;
    height: 235px;
    width: 235px;
    position: absolute;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

@media (max-width: 755px) {
    .blur {
        backdrop-filter: blur(0px);
    }
}

.priceboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.price {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgb(14, 14, 14);
    height: 550px;
    margin: 20px;
    justify-content: space-around;
    justify-items: center;
    border-radius: 10px;
    background-attachment: fixed;
    border: solid #8FFF00 2px;
    align-items: center;

}

@media (max-width: 755px) {
    .price {
        padding: 20px;
    }
}

.pricet {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-shadow: black 3px 3px 2px;
    margin-top: 10px;
}

.cost {
    color: #8FFF00;
    font-family: "Nunito", sans-serif;
    font-size: 1.6em;
    font-weight: 800;
}

.priced {
    color: white;
    font-family: "Nunito", sans-serif;
    margin: 10px;
    text-align: center;
}

.pricedp {
    color: white;
    font-family: "Nunito", sans-serif;
    margin: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
}

.price button {
    margin-bottom: 20px;
}

.footer {
    height: 70px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    margin-top: 20px;
}

.cont4 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subcont4 {
    margin: 20px;
    width: 350px;
    height: 550px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    border: solid #8FFF00 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 755px) {
    .subcont4 {
        padding: 20px;
    }
}

.information {
    color: white;
    margin: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}



.locations {
    margin: 20px;
    width: 350px;
    height: 550px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    border: solid #8FFF00 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

@media (max-width: 755px) {
    .locations {
        padding: 20px;
    }
}


.locationlist {
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.locationspeal {
    color: white;
    margin: 20px;
    font-weight: 400;
    font-size: 0.85em;
}

.contactdetails {
    color: #d4ff9b;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}

.contactdetails:hover {
    color: #8FFF00;
}


.contactdetailscont {
    display: flex;
    justify-content: center;
    margin: 50px;

}

.contactprofile {
    font-size: 1.8em;
    background-color: rgb(14, 14, 14);
    padding: 20px;
    border-radius: 10px;
    border: solid #8FFF00 2px;
    color: white;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.emailnowbutton {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-weight: 900;
    color: white;
    background-color: rgb(56, 56, 56);
    justify-content: center;
}

.emailnowbutton:hover {
    color: black;
}

.contcont {
    margin-bottom: 20px;
}

.main3 {
    display: flex;
    justify-content: center;
}

.portfoliocont {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.song {
    margin: 10px;
    font-family: "Nunito", sans-serif;
    color: white;
    height: 350px;
    width: 280px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    border: solid #8FFF00 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.songtitle {
    font-size: 1.4em;
}

.artistname {
    font-size: 1.2em;
}

.contro {
    margin-bottom: 10px;
}

.faqcont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    width: 350px;
    height: 550px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    border: solid #8FFF00 2px;
    display: flex;
    color: white;
    font-family: "Nunito", sans-serif;
    align-items: center;
    padding: 20px;
}



.faqtitle {
    margin: 20px;
    font-size: 1.4em;
    font-weight: 700;
}

.faq {
    color: white;
}

.question {
    font-size: 1.4em;
    color: #8FFF00;
    font-weight: 600;
    margin-top: 10px;
}

.answer {
    margin-top: 5px;
    font-size: 1.1em;
}

.emailnowbutton2 {
    color: white;
    transition: 0.3s ease-in-out;
}

.emailnowbutton2:hover {
    color: black;
}